#navigation_bar {
  margin: 0px;
  padding: 0px 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  background-color: rgb(119, 183, 23);
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

#home {
  padding-top: 50px;
  font-size: 150%;
  font-weight: bold;
}
.nav_element {
  font-size: 80%;
  display: inline;
  list-style-type: none;
  margin: 0px 5px;
}
